.AppSidebarHeader {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppSidebarHeader-logo {
  --logo-dimension: 130px;

  height: var(--logo-dimension);
  width: var(--logo-dimension);
}
